@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  font-family: 'Helvetica', sans-serif;
  list-style: none;
}

h1 span {
  font-family: 'Anton', sans-serif;
  letter-spacing: 5px;
  background-color: #e0ff00;
  padding: 0 0.4rem;
  font-style: italic;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.card {

  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: -5px 5px 14px -1px rgba(0, 0, 0, 0.39);
  box-shadow: -5px 5px 14px -1px rgba(0, 0, 0, 0.39);
}

.card-image {
  height: 200px;
}

.card-image img {
  height: 100% !important;
  width: 100%;
  object-fit: contain !important;
}

.card .card-content {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding: 5px 0;
}

.card .card-action {
  height: 25px;
}

.card .card-action .btn {
  background-color: #e91e63;
  color: white;
  width: 100%;
  height: 20px;
  border: none;
  border-radius: 3px;
}

.card .card-image {
  width: 100%;
}

.card .card-image img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

form .box {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-self: center;
}

input {
  font-size: 1.2rem;
}


.text {
  font-size: 1.3rem;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  background-color: cornflowerblue;
}

.hide {
  display: none;
}

.active {
  display: block;
}